{% form_theme form 'bootstrap_4_layout.html.twig' %}


{{ form_start(form) }}
    <div class="container">
        <div class="form-row col-md-12">
            <div class="col-md-6">
                {{ form_row(form.numChambre,{'attr':{'placeholder':'Numéro chambre'}}) }}
            </div>
        </div>
        <div class="form-row col-md-12">
            <div class="col-md-6">
                {{ form_row(form.type,{'attr':{'placeholder':'Type de chambre'}}) }}
            </div>
        </div>
        <div class="form-row col-md-12">
            <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
        </div>
    </div>
{{ form_end(form) }}
