{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="container">
    <div class="form-row col-md-12">
        <div class="col-md-6">
            {{ form_row(form.matricule,{'attr':{'placeholder':'Matricule'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.prenom,{'attr':{'placeholder':'Prenom'}}) }}
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="col-md-6">
            {{ form_row(form.nom,{'attr':{'placeholder':'Nom'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.email,{'attr':{'placeholder':'Email'}}) }}
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="col-md-6">
            {{ form_row(form.telephone,{'attr':{'placeholder':'Telephone'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateNaissance,{'attr':{'placeholder':'Date de Naissance'}}) }}
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="col-md-6">
            {{ form_row(form.type,{'attr':{'placeholder':'Type'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.montant,{'attr':{'placeholder':'Montant'}}) }}
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="col-md-6">
            {{ form_row(form.adresse,{'attr':{'placeholder':'Addresse'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.numChambre,{'attr':{'placeholder':'Numéro Chambre'}}) }}
        </div>
    </div>
    <div class="form-row col-md-12">
        <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
    </div>
</div>
{{ form_end(form) }}
